<h1>Director #<%= @director_id %> details</h1>
<a href="/directors" class="btn btn-block btn-outline-secondary">Go back</a>

<hr>

<dl>
  <dt>Name</dt>
  <dd><%= @name %></dd>

  <dt>Dob</dt>
  <dd><%= @dob %></dd>

  <dt>Bio</dt>
  <dd><%= @bio %></dd>

  <dt>Image</dt>
  <dd><img src="http://robohash.org/<%= @director.id %>"></dd>

  <dt>Created at</dt>
  <dd><%= @created %></dd>

  <dt>Updated at</dt>
  <dd><%= @updated %></dd>
</dl>

<hr>

<h1>Filmography</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>
  <% @movies.all.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td><img src="http://robohash.rog/<%= movie.image %>"></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= @name %></td>
      <td>
        <a href="/movies/<%= movie.id %>">Show details</a>
      </td>
    </tr>
  <% end %>
